@keyframes scaling {
  0% { transform: scale(0); }

  100% { transform: scale(1); }
}

@keyframes fading {
  0% { opacity: 1; }

  60% { fill: rgba(247, 139, 31, 0.2); opacity: 1; }

  100% { fill: rgba(247, 139, 31, 0); opacity: 0; }
}

.flickering-point {
  fill: rgb(247, 139, 31);

  &__circle {
    animation: scaling 1.5s ease-out, fading 1.5s ease-out;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    opacity: 0;

    &_second {
      animation-delay: 0.5s;
    }

    &_third {
      animation-delay: 1s;
    }

    &_fourth {
      animation-delay: 0.75s;
    }
  }
}
