.pagination-dots {
  position: absolute;
  top: 50%;
  right: 3%;
  margin: 0;
  padding: 0;
  transform: translateY(-50%);

  &__item {
    margin-bottom: 1vh;
    line-height: 0;
    list-style-type: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__dot {
    height: 1.75vh;
    width: 1.75vh;
    border: none;
    border-radius: 100%;
    background-color: white;
    -webkit-appereance: none;

    &:hover {
      cursor: pointer;
    }

    &_active {
      background-color: #f78b1f;
    }
  }
}
