@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Regular.woff2') format('woff2'),
        url('assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Light';
    src: url('assets/fonts/GothamPro-Light.woff2') format('woff2'),
        url('assets/fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('assets/fonts/GothamPro.woff2') format('woff2'),
        url('assets/fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
