div(class='therapy-foundation')
  section(class='therapy-foundation__content presentation__slide presentation__slide_has-shadow')
    div.therapy-foundation__overlay
      h1.therapy-foundation__headline Основа терапии — патогенез СД2
